/* -------------------------------------------------------------------
 * ## header social
 * ------------------------------------------------------------------- */
 .header__social {
  list-style : none;
  margin     : 4rem 0 0 0;
  padding    : 0 0 4.4rem 0;
  display    : -ms-flexbox;
  display    : -webkit-flex;
  display    : flex;
}

.header__social li {
  margin-right : 2px;
}

.header__social li:last-child {
  margin-right : 0;
}

.header__social a {
  display          : block;
  background-color : rgba(255, 255, 255, 0.04);
  color            : rgba(255, 255, 255, 0.5);
  height           : 3.6rem;
  width            : 3.6rem;
  border-radius    : 50%;
  position         : relative;
}

.header__social a::after {
  z-index             : 1;
  content             : '';
  display             : block;
  height              : 1.4rem;
  width               : 1.4rem;
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : contain;
  -webkit-transform   : translate(-50%, -50%);
  transform           : translate(-50%, -50%);
  transition          : all .3s ease-in-out;
  position            : absolute;
  left                : 50%;
  right               : 0;
  top                 : 50%;
}

.header__social a:hover::after {
  height : 1.8rem;
  width  : 1.8rem;
}

.header__social span {
  clip      : rect(1px, 1px, 1px, 1px);
  clip-path : inset(50%);
  height    : 1px;
  width     : 1px;
  margin    : -1px;
  overflow  : hidden;
  padding   : 0;
  border    : 0;
  position  : absolute;
}

.header__social .ss-facebook a::after {
  background-image : url(../public/images/icons/social/icon-facebook.svg);
}

.header__social .ss-twitter a::after {
  background-image : url(../public/images/icons/social/icon-twitter.svg);
}

.header__social .ss-dribbble a::after {
  background-image : url(../public/images/icons/social/icon-dribbble.svg);
}

.header__social .ss-behance a::after {
  background-image : url(../public/images/icons/social/icon-behance.svg);
}

.header__social .ss-instagram a::after {
  background-image : url(../public/images/icons/social/icon-instagram.svg);
}

.header__social .ss-pinterest a::after {
  background-image : url(../public/images/icons/social/icon-pinterest.svg);
}

.header__social .ss-rss a::after {
  background-image : url(../public/images/icons/social/icon-rss.svg);
}

.header__social .ss-steam a::after {
  background-image : url(../public/images/icons/social/icon-steam.svg);
}